In [22]:
from requests import get
import pandas as pd

In [ ]:
europe_all = get("https://restcountries.com/v3.1/region/europe")

In [18]:
europe_countries_set = set()
for i in europe_all:
    europe_countries_set.add(i['name']['common'])

In [56]:
europe_countries_df = pd.DataFrame(europe_countries_set, columns=['Name']).sort_values('Name').reset_index(drop=True)

In [57]:
europe_countries_df

                      Name
0                  Albania
1                  Andorra
2                  Austria
3                  Belarus
4                  Belgium
5   Bosnia and Herzegovina
6                 Bulgaria
7                  Croatia
8                   Cyprus
9                  Czechia
10                 Denmark
11                 Estonia
12           Faroe Islands
13                 Finland
14                  France
15                 Germany
16               Gibraltar
17                  Greece
18                Guernsey
19                 Hungary
20                 Iceland
21                 Ireland
22             Isle of Man
23                   Italy
24                  Jersey
25                  Kosovo
26                  Latvia
27           Liechtenstein
28               Lithuania
29              Luxembourg
30                   Malta
31                 Moldova
32                  Monaco
33              Montenegro
34             Netherlands
35         North Macedonia
36                  Norway
37                  Poland
38                Portugal
39                 Romania
40                  Russia
41              San Marino
42                  Serbia
43                Slovakia
44                Slovenia
45                   Spain
46  Svalbard and Jan Mayen
47                  Sweden
48             Switzerland
49                 Ukraine
50          United Kingdom
51            Vatican City
52           Åland Islands