In [10]:
import pandas as pd

In [11]:
# Bond data must be looked at as a percentage of GDP
nominal_gdp = pd.read_csv(r"C:\\Users\\gusta\\GitHub\\Data501_Project\\Economy\\2023_Nominal_GDP_By_Country.csv")
bonds = pd.read_csv(r"C:\\Users\\gusta\\GitHub\\Data501_Project\\Bonds\\Sustainable_Bonds_By_Country.csv")

In [12]:
# Rename Britain to United Kingdom in the bonds dataframe
# Czech to Czechia in bonds
# Czech Republic to Czechia in nominal_gdp 
bonds.replace({
    "Britain":"United Kingdom",
    "Czech": "Czechia",
    "Slovakia": "Slovak Republic"
}, inplace=True)

nominal_gdp.replace({"Czech Republic": "Czechia"}, inplace=True)

In [13]:
# Recall that the nominal_gdp data is in billions, and the bonds are to the dollar
nominal_bonds = nominal_gdp.merge(bonds, left_on="Country", right_on="Country/Region (Full Name)", how="left")

In [14]:
nominal_bonds = nominal_bonds.iloc[:, [0, 1, 3, 4]]

In [15]:
nominal_bonds.fillna(0, inplace=True)

In [16]:
nominal_bonds

,Country,Nominal 2023 GDP (EUR Billions),Amt Issued (EUR) Labelled,Amt Issued (EUR) Unlabelled
0,Albania,21.880400,0.000000e+00,0.000000e+00
1,Austria,499.872900,1.228665e+10,1.647960e+10
2,Belarus,65.420800,0.000000e+00,0.000000e+00
3,Belgium,596.135450,1.843000e+10,1.477032e+10
4,Bosnia and Herzegovina,25.597750,0.000000e+00,0.000000e+00
5,Bulgaria,97.944050,0.000000e+00,0.000000e+00
6,Croatia,76.175750,3.994882e+08,0.000000e+00
7,Czechia,318.480850,1.438108e+09,9.383785e+08
8,Denmark,399.760000,6.476152e+09,2.566511e+10
9,Estonia,39.709050,0.000000e+00,0.000000e+00
10,Finland,290.404550,6.157150e+09,1.671541e+10
11,France,2896.565200,6.219689e+10,1.675672e+11
12,Germany,4208.346100,4.927354e+10,2.145716e+11
13,Greece,230.265750,2.293921e+09,1.538261e+08
14,Hungary,193.637550,4.781748e+09,4.599152e+09
15,Iceland,29.041500,1.566514e+09,1.522287e+09
16,Ireland,560.090550,1.378877e+10,1.580454e+10
17,Italy,2076.777900,2.494352e+10,5.931338e+10
18,Jersey,6.625150,1.512774e+09,0.000000e+00
19,Kosovo,9.945550,0.000000e+00,0.000000e+00
20,Latvia,44.334600,1.289216e+08,2.016224e+08
21,Liechtenstein,7.435365,6.519391e+08,0.000000e+00
22,Lithuania,75.455650,5.036605e+08,3.240144e+08
23,Luxembourg,84.640250,1.199052e+10,1.394688e+10
24,Malta,19.295450,2.484535e+07,0.000000e+00
25,Moldova,15.200000,0.000000e+00,0.000000e+00
26,Montenegro,6.705100,0.000000e+00,0.000000e+00
27,Netherlands,1038.110600,5.067428e+10,1.077635e+11
28,North Macedonia,15.010950,0.000000e+00,0.000000e+00
29,Norway,519.429600,1.537137e+10,3.982391e+10
30,Poland,800.063400,1.345878e+09,5.140505e+09
31,Portugal,262.610400,1.312118e+09,6.445170e+09
32,Romania,332.893300,2.190657e+09,1.226812e+09
33,Russia,1769.346500,8.762130e+08,0.000000e+00
34,San Marino,1.898100,0.000000e+00,0.000000e+00
35,Serbia,71.264250,1.081060e+09,0.000000e+00
36,Slovak Republic,126.391800,5.052838e+08,1.315844e+09
37,Slovenia,64.974300,5.043909e+08,0.000000e+00
38,Spain,1502.951300,2.422954e+10,5.647614e+10
39,Sweden,567.254500,1.135668e+10,5.836983e+10
40,Switzerland,860.399800,7.597245e+09,7.315291e+09
41,Ukraine,164.742350,7.594238e+08,0.000000e+00
42,United Kingdom,3165.456050,5.211920e+10,4.270997e+10

In [17]:
nominal_bonds["Labelled Sustainable Bonds Issued per GDP"] = \
    (nominal_bonds['Amt Issued (EUR) Labelled']*10**-9)/nominal_bonds['Nominal 2023 GDP (EUR Billions)']

nominal_bonds["Unlabelled Sustainable Bonds Issued per GDP"] = \
    (nominal_bonds['Amt Issued (EUR) Unlabelled']*10**-9)/nominal_bonds['Nominal 2023 GDP (EUR Billions)']

In [18]:
vars = ['Country', 'Nominal 2023 GDP (EUR Billions)', 'Labelled Sustainable Bonds Issued per GDP', 'Unlabelled Sustainable Bonds Issued per GDP']
nominal_bonds[vars].to_csv("Europe_Green_Bonds_Percentage_of_GDP.csv", index=False)